/* ----------- import reset styles --------- */
@import "modern-css-reset/dist/reset.min.css";

/* ---------- import abstract folders ----------- */
@import "./abstracts/_variable.css";

/* ------------ import base folder ------------ */
@import "tailwindcss/components";
@import "./base/_base.css";
@import "./base/_typography.css";

/* ---------- import component folder ---------- */
@import "tailwindcss/components";

/* ----------- import utilities folder ---------- */
@import "tailwindcss/utilities";

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.99) translateZ(0);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1) translateZ(0);
  }
}
